@use "../config/" as *;

.c-button {
  color: $text-secondary;
  font-size: rm(16);
  font-weight: 700;
  line-height: rm(56);
  height: rm(56);
  letter-spacing: 0.8px;

  border: 1px solid;
  border-radius: 8px;
  background: #fff;
  padding-inline: 2em;
  transition: background 0.3s ease-in-out;

  &:focus-visible {
    background: $hover-primary;
  }

  @media (any-hover: hover) {
    &:hover {
      background: $hover-primary;
    }
  }
}