@use "../config/" as *;

.c-button {
  color: $text-secondary;
  font-size: rm(16);
  font-weight: 700;
  line-height: rm(56);
  height: rm(56);
  letter-spacing: 0.8px;

  border: 1px solid;
  border-radius: 8px;
  background: #fff;
  padding-inline: 2em;
  transition: background 0.3s ease-in-out;

  &:focus-visible {
    background: $hover-primary;
  }

  @media (any-hover: hover) {
    &:hover {
      background: $hover-primary;
    }
  }

  &.c-button--cta {
    display: flex;
    align-items: center;
    gap: rm(24);
    width: fit-content;
    margin-inline: auto;

    svg {
      width: 23.431px;
      height: 32.635px;
    }
  }
}

.c-button__strong {
  font-size: 33px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.65px;
}